body {
    margin: 0px;
    background-color: lightcoral;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 10px;
}

.topnav {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

nav > ul {
    list-style: none;
}

ul {
    margin: 0px;
}

body > main article {
    width: 90%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 85%;
}

form, h2 {
    text-align: center;
}

body > header {
    background-color: darkslategray;
    display: flex;
    height: 12vh;
    justify-content: space-around;
    align-items: center;
}

#nav-ul {
    display: flex; 
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

body > footer {
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer-ul {
    display: flex;
}

#footer-ul > div> li {
    padding: 8px;
    margin: 16px;
}

#footer-ul > div > li > a {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

#description {
    font-size: 20px;
    color: lemonchiffon;
    text-align: center;
    width: auto;
}

#survey-form {
    background-color: midnightblue;
    border-radius: 10px;
    text-align: left;
    width: 450px;
    padding: 50px;
    align-self: center;
    color: white;
    margin: auto;
}

#name, #email, #number {
    font-size: 16px;
    width: 450px;
}

input {
    border-radius: 5px;
    text-align: left;
    width: auto;
}

textarea {
    max-width: 450px;
    max-height: 250px;
    min-width: 450px;
    min-height: 125px;
    font-family: 'Andika New Basic', sans-serif;
}

button {
    background-color: forestgreen;
    color: white;
    width: 450px;
    height: 40px;
    font-size: 20px;
}

#dropdown {
    font-size: 16px;
    width: 200px;
    border-radius: 5px;
}

.central {
    max-width: 600px;
    margin: auto;
}

@media (max-width: 575px) {
    #survey-form {
        padding-left: 30px;
        padding-right: 30px;
        width: auto;
    }
    #description {
        width: auto;
        font-size: 12px;
    }
}